.banner {
    font-family: 'Libre Barcode 39 Text', cursive;
    color: ivory;
    font-size: 3.5rem;
    font-weight: 400;
	text-align: center;
	margin-top: 15vh;
	margin-bottom: 50vh;
	left: 50%;
	max-width: 100%;
	max-height: 20%;
	display: block;
}

.gold {
    color: #d4af37;
}