div {
    background: transparent;
    padding-top: 5px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95vw;
}

a {
    text-decoration: none;
    color: ivory;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    font-size: .85rem;
}

img:hover {
    transform: scale(1.15);
	transition: all .3s;
}

li a:hover {
    transform: scale(1.1);
	font-weight: bold;
	transition: all .3s;
}